body{
  margin: 0;
}
header{
  display: flex;
  align-items: center;
  background-color: #950ba1;
  display: flex;
  justify-content: space-between;
  span{
    color:white;
  }
  span:nth-child(1){
    font-size: 22px;
  }
}
.rig{
  display: flex;
  align-items: center;
  span:nth-child(1){
    border:solid 2.7px white;
    border-left:solid 1px white;
    border-bottom:solid 1px white;
    border-radius:20% 0 20% 0;
  }
  span{
    font-size: 16px !important;
    padding: 8px;
  }
}