body {
  margin: 0;
}
header {
  align-items: center;
  background-color: #950ba1;
  display: flex;
  justify-content: space-between;
}
header span {
  color: white;
}
header span:nth-child(1) {
  font-size: 22px;
}
.rig {
  display: flex;
  align-items: center;
}
.rig span:nth-child(1) {
  border: solid 2px white;
}
.rig span {
  font-size: 16px !important;
  padding: 8px;
}
