body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fedaf4;
}
header {
  align-items: center;
  background-color: #950ba1;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 5px;
}
header span {
  color: white;
}
header span:nth-child(1) {
  font-size: 22px;
  font-weight: 1000;
  margin-left: 20px;
}
.rig {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.rig span:nth-child(1) {
  border: solid 2.7px white;
  border-left: solid 1px white;
  border-bottom: solid 1px white;
  border-radius: 20% 0 20% 0;
  margin: 0 !important;
}
.rig span {
  font-weight: 500 !important;
  font-size: 16px !important;
  padding: 8px;
}
.stolb {
  display: flex;
  justify-content: center;
}
.pink {
  display: flex;
  background-color: #fedaf4;
  display: inline-block;
  width: 100%;
  color: #b02abc;
}
.pink p:nth-child(1) {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 1000;
  margin: 10px;
  margin-top: 70px;
}
.pink img {
  width: 29cqi;
  height: 21cqi;
}
.pink .vklad {
  margin: 1.6cqi;
}
.pink .vklad p:nth-child(2) {
  font-size: 20px;
}
.violet {
  display: flex;
  display: inline-block;
  width: 100%;
  color: white;
  background-color: #b02abc;
}
.violet p:nth-child(1) {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 1000;
  margin: 10px;
}
.violet .svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3cqi;
  padding-left: 6cqi;
  padding-right: 6cqi;
  border: solid 2.5px white;
  border-left: solid 1px white;
  border-bottom: solid 1px white;
  border-radius: 20% 0 20% 0;
  font-size: 12px;
  margin: 1cqi;
  margin-bottom: 4cqi;
}
.violet .svg .p:nth-child(2) {
  font-weight: 600;
  font-size: 22px;
}
.pink:nth-child(4) .vklad {
  border: solid 2px;
  padding: 0 2cqi 0 2cqi;
}
.pink:nth-child(4) .vklad p {
  margin-top: 20px;
}
.pink:nth-child(4) .vklad .polosa {
  display: flex;
  justify-content: center;
  width: 131px;
  border-bottom: solid 2px;
}
